 <p id=notice></p>


    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <h1>Users info</h1>
        <% if @user.errors.any? %>
          <h3><%= @user.errors.count %> errors prohibited this obj from being saved: </h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>


    <%= form_with model: @user do |f|%>

    <div class="form-group">
        <div>name</div>

          <%= f.text_field :name, class: "form-control" %>

          <div>Image</div>
          <%= f.file_field :profile_image %>

          <div>Introdution</div>
          <%= f.text_area :introduction, class: "form-control" %> <br>

          <%= f.submit 'Update User', class: "btn btn-secondary" %><br>

        <% end %>

    </div>

      </div>
    </div>
 <!--＋他のユーザーの編集画面（編集はできないようにする）-->
