<main>

    <% if @book.errors.any? %>
      <%= @book.errors.count %> errors prohibited this obj from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

<div class= "container px-5 px-sm-0">
  <div class = "row">
      <div class = "col-md-3">
      <%= render 'post_image/user', user: current_user, book: Book.new %>
      </div>

    <!--ユーザー一覧（自分含めた各ユーザー画像・名前・詳細画面へのリンク）-->
       <div class = "col-md-8 offset-md-1">
         <h2>User</h2>
         <table class="table">
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
            <tr>
              <% @users.each do |user| %>
              
              <td>
                <%= image_tag user.get_profile_image(100,100) %>
              </td>

              <td>
                <%= user.name %>
              </td>

              <td>
                <%= link_to 'Show', user_path(user.id) %>
              </td>
            </tr>
              <% end %>
            </table>
          </div>
        </div>
</main>