
<!--共有テンプレート-->
<%= render 'post_image/user', user: current_user, book: Book.new %>
<h1>Books</h1>


<!--投稿一覧(各ユーザーの画像・本のタイトル・感想)-->
<% @books.each do |book|%>
<table>
  <tr>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <tr>
  <td><%= book.title %></td>
  <td><%= book.body %></td>
  </tr>
    <td>Title: <%= book.name %></td>
    <td>Opinion: <%= book.body%> </td>
    

<% end %>
</table>

