<% if @book_id.errors.any? %>
  <%= @book_id.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book_id.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'post_image/user', user: current_user, book: Book.new %>


<!--Bookの詳細画面(ユーザー画像・名前・本のタイトル[リンク付き]・感想)-->
<h4>Books</h4>
<div>
  <p>User image: <%= image_tag @book.user.get_profile_image(100, 100)%></p>
  <p>User name: <%= @book.user.name %></p>
  <p>Title: <%= @book.title %></p>
  <p>Opinion: <%= @book.body %></p>

  <!--現在ログインしているユーザーと同じである場合のeditとdestro-->
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book), class: "edit-link" %>
    |
    <%= link_to "Destroy", book_path(@book), method: :delete%>
  <% end %>
</div>